{% extends 'base_dash.html' %}
{% load bootstrap %}

{% block main %}
<div class="container-fluid">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/dashboard/dashboard">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Adicionar Status de Projeto</li>
  </ol>
</nav>


<div>
<form method="POST">
    {% csrf_token %}

    {{  form|bootstrap }}

    <br>
    <button type="submit" button type="button" class="btn btn-primary"> Cadastrar </button>
</form>

</div>
 </div>
{% endblock %}