{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}

  Listando Requisitos
<table class="table table-striped" >
    <br>
    <tr>
    <th>Nome do Requisito </th>
    <th>Responsável </th>
    <th>Projeto </th>
    <th>Prioridade </th>
    <th>Status </th>
    <th></th>
    <th></th>
  </tr>

    {% for requisito in object_list %}

       <tr>
            <td> {{ requisito.nomeRequisito }} </td>
            <td> {{ requisito.responsavel }} </td>
           <td> {{ requisito.projeto }} </td>
           <td> {{ requisito.prioridade }} </td>
           <td> {{ requisito.status }} </td>
        </td>
      </tr>
    {% endfor %}

</table>


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="page-item">&laquo; Primeiro</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="page-item">Anterior</a>
        {% endif %}

        <span class="current" class="page-item">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="page-item">Próximo</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="page-item">último &raquo;</a>
        {% endif %}
    </span> </div>

{% endblock %}