{% load static %}
{% load bootstrap %}
<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="stylesheet" href=" {% static 'bootstrap/css/bootstrap.min.css'   %} " >
        <link rel="stylesheet" href=" {% static 'bootstrap/css/styles.css'   %} " >

         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.tiny.cloud/1/hj414j2l7wvrpycptwu04jw6nfqv7j4uv32506cwhl78m0qv/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
      toolbar_mode: 'floating',
    });
  </script>
   <title>AppCycle</title>
    </head>
<body>


<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">AppCycle</a>
     <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Olá,  {{ request.user}} !
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/change-password">Trocar senha</a>
          <a class="dropdown-item" href="#">Suporte</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>

        </div>
    </div>
</nav>

 <!-- Navbar-->

        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="/dashboard/dashboard">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Início
                            </a>
                              <a class="nav-link" href="/dashboard/dashboard">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Gerenciar Usuários
                            </a>

                              <a class="nav-link" href="/changelog/changelog/">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Changelog
                            </a>
                            <div class="sb-sidenav-menu-heading">Módulos</div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
                               aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Projeto
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url  'cadastrarprojeto'  %}">Adicionar Projeto</a>
                                    <a class="nav-link" href="{% url  'cadastrarstatusprojeto'  %}">Adicionar Status de Projeto</a>
                                    <a class="nav-link" href="{% url  'visualizarprojeto'  %}">Visualizar Projetos</a>
                                    <a class="nav-link" href="{% url  'visualizarstatusprojeto'  %}">Visualizar Status de Projetos</a>
                                </nav>
                            </div>

                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                               aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Requisitos
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link" href="{% url  'cadastrarrequisito'  %}">Adicionar Requisito</a>
                                    <a class="nav-link" href="{% url  'cadastrarprioridaderequisito'  %}">Adicionar Prioridade de Requisito</a>
                                    <a class="nav-link" href="{% url  'cadastrarstatusrequisito'  %}">Adicionar Status de Requisito</a>
                                    <a class="nav-link" href="{% url  'visualizarrequisito'  %}">Visualizar Requisito</a>
                                    <a class="nav-link" href="{% url  'visualizarprioridaderequisito'  %}">Visualizar Prioridade de Requisito</a>
                                    <a class="nav-link" href="{% url  'visualizarstatusrequisito'  %}">Visualizar Status de Requisito</a>
                                    <a class="nav-link" href="{% url  'cadastrarriscorequisito'  %}">Adicionar Risco de Requisito</a>
                                    <a class="nav-link" href="{% url  'visualizarriscorequisito'  %}">Visualizar Risco de Requisito</a>

                                </nav>
                             </div>

                              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                                 aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Qualidade
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                              </a>
                                <div class="collapse" id="collapsePages" aria-labelledby="headingThree"
                                     data-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                            <a class="nav-link" href="{% url  'cadastrarrequisito'  %}">Adicionar Requisito</a>
                                    </nav>
                                </div>

                            </div>
                         </div>
                          <div class="sb-sidenav-footer">
                        <div class="small">Logado como:</div>
                         {{ request.user }}
                    </div>
                </nav>

            </div>


{% block main %}

{% endblock %}


</div>
</body>

</html>




